<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>




<!--    <bean class="com.nc.autumn2020.springPackage.Radiostation" name="88.8">-->
<!--        <constructor-arg value="+6"/>-->
<!--        <constructor-arg value="88.8fm"/>-->
<!--    </bean>-->
<!--    <bean class="com.nc.autumn2020.springPackage.Radiostation" name="shanson">-->
<!--        <constructor-arg value="+16"/>-->
<!--        <constructor-arg value="shanson"/>-->
<!--    </bean>-->
<!--    <bean class="com.nc.autumn2020.springPackage.Radiostation" name="dance2die">-->
<!--        <constructor-arg value="+18"/>-->
<!--        <constructor-arg value="dance2die"/>-->
<!--    </bean>-->

<!--    <bean class="com.nc.autumn2020.springPackage.Radio" name="Mayak">-->
<!--        <constructor-arg ref="dance2die"/>-->
<!--    </bean>-->

</beans>